In [2]:
import pandas as pd
import numpy as np

dat = pd.read_csv('lineups_with_clusters.csv')
dat.head(5)

,GROUP_SET,GROUP_ID,GROUP_NAME,TEAM_ID,TEAM_ABBREVIATION,GP,W,L,W_PCT,MIN,...,p1,p2,p3,p4,p5,p1_cluster,p2_cluster,p3_cluster,p4_cluster,p5_cluster
0,Lineups,-201145-203115-203932-203999-1628420-,J. Green - W. Barton - A. Gordon - N. Jokic -...,1610612743,DEN,41,26,15,0.634,761.0,...,J. Green,W. Barton,A. Gordon,N. Jokic,M. Morris,2,3,3,1,3
1,Lineups,-101108-203109-1626164-1628969-1629028-,C. Paul - J. Crowder - D. Booker - M. Bridges...,1610612756,PHO,38,31,7,0.816,754.0,...,C. Paul,J. Crowder,D. Booker,M. Bridges,D. Ayton,1,0,1,3,5
2,Lineups,-201144-202711-203497-1626220-1628378-,M. Conley - B. Bogdanovic - R. Gobert - R. O'...,1610612762,UTA,42,29,13,0.690,666.0,...,M. Conley,B. Bogdanovic,R. Gobert,R. O'Neale,D. Mitchell,3,3,5,0,1
3,Lineups,-201143-203935-1627759-1628369-1629057-,A. Horford - M. Smart - J. Brown - J. Tatum -...,1610612738,BOS,34,27,7,0.794,443.0,...,A. Horford,M. Smart,J. Brown,J. Tatum,R. Williams III,5,3,1,1,0
4,Lineups,-201976-1626156-1626157-1629020-1630162-,P. Beverley - D. Russell - K. Towns - J. Vand...,1610612750,MIN,36,22,14,0.611,439.0,...,P. Beverley,D. Russell,K. Towns,J. Vanderbilt,A. Edwards,3,1,1,5,3

In [3]:
dat_selected = dat.loc[:, [' NET_RATING', 'p1_cluster', 'p2_cluster', 'p3_cluster', 'p4_cluster', 'p5_cluster']]

In [4]:
dat_selected

       NET_RATING  p1_cluster  p2_cluster  p3_cluster  p4_cluster  p5_cluster
0             9.5           2           3           3           1           3
1             7.4           1           0           1           3           5
2             6.7           3           3           5           0           1
3            24.6           5           3           1           1           0
4            12.8           3           1           1           5           3
...           ...         ...         ...         ...         ...         ...
1995         23.1           6           3           5           2           0
1996        -34.3           2           3           0           1           3
1997         49.3           2           7           0           0           6
1998          0.4           5           7           3           3           6
1999         -4.4           5           1           6           6           0

[2000 rows x 6 columns]

In [5]:
for i in range(5):
    print(dat_selected[f'p{i+1}_cluster'].unique())

[2 1 3 5 0 6 7]
[3 0 1 5 6 7 2]
[3 1 5 0 6 2 7]
[1 3 0 5 6 2 7 4]
[3 5 1 0 6 7 2 4]

In [6]:
3 + np.nan

nan

In [7]:
total_dummies = pd.DataFrame(np.zeros((dat_selected.shape[0], 8)))
dummies_no4 = pd.DataFrame(np.zeros((dat_selected.shape[0], 8)))
dummies_4 = pd.DataFrame(np.zeros((dat_selected.shape[0], 8)))
for i in range(3):
    dummies_no4 += pd.get_dummies(dat_selected[f'p{i+1}_cluster'], dummy_na=True)

for i in range(2):
    dummies_4 += pd.get_dummies(dat_selected[f'p{i+4}_cluster'], dummy_na=True)

dummies_no4.fillna(0, inplace=True)
total_dummies = dummies_no4 + dummies_4

In [8]:
total_dummies

        0    1    2    3    4    5    6    7
0     0.0  1.0  1.0  3.0  0.0  0.0  0.0  0.0
1     1.0  2.0  0.0  1.0  0.0  1.0  0.0  0.0
2     1.0  1.0  0.0  2.0  0.0  1.0  0.0  0.0
3     1.0  2.0  0.0  1.0  0.0  1.0  0.0  0.0
4     0.0  2.0  0.0  2.0  0.0  1.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...
1995  1.0  0.0  1.0  1.0  0.0  1.0  1.0  0.0
1996  1.0  1.0  1.0  2.0  0.0  0.0  0.0  0.0
1997  2.0  0.0  1.0  0.0  0.0  0.0  1.0  1.0
1998  0.0  0.0  0.0  2.0  0.0  1.0  1.0  1.0
1999  1.0  1.0  0.0  0.0  0.0  1.0  2.0  0.0

[2000 rows x 8 columns]

In [9]:
total_dummies.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
dtype: int64

In [10]:
dat_final = pd.concat([dat_selected[' NET_RATING'], total_dummies], axis=1)

In [11]:
dat_final.columns

Index([' NET_RATING', 0, 1, 2, 3, 4, 5, 6, 7], dtype='object')

In [12]:
dat_final.rename(columns={' NET_RATING': 'net_rating', 0: 'cluster_0', 1: 'cluster_1', 2: 'cluster_2', 3: 'cluster_3', 4: 'cluster_4', 5: 'cluster_5', 6: 'cluster_6', 7: 'cluster_7',}, inplace=True)
dat_final

,net_rating,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,cluster_5,cluster_6,cluster_7
0,9.5,0.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0
1,7.4,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0
2,6.7,1.0,1.0,0.0,2.0,0.0,1.0,0.0,0.0
3,24.6,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0
4,12.8,0.0,2.0,0.0,2.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1995,23.1,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
1996,-34.3,1.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0
1997,49.3,2.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1998,0.4,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0
1999,-4.4,1.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0

In [13]:
dat_final.describe()

,net_rating,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,cluster_5,cluster_6,cluster_7
count,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,2.03165,1.398500,0.799500,0.352000,1.155500,0.001000,0.607000,0.449000,0.237500
std,25.70921,0.918215,0.699675,0.551587,0.883012,0.031615,0.585425,0.579281,0.528425
min,-112.50000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-13.90000,1.000000,0.000000,0.000000,0.750000,0.000000,0.000000,0.000000,0.000000
50%,2.70000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,18.70000,2.000000,1.000000,1.000000,2.000000,0.000000,1.000000,1.000000,0.000000
max,90.30000,5.000000,3.000000,3.000000,4.000000,1.000000,2.000000,2.000000,4.000000

## Start with Linear Regression

In [14]:
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

X = dat_final.drop(labels=['net_rating'], axis=1)
y = dat_final['net_rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
formula = 'net_rating ~ cluster_0 + cluster_1 + cluster_2 + cluster_3 + cluster_4 + cluster_5 + cluster_6 + cluster_7'
m1 = smf.ols(formula=formula, data = pd.concat([X_train, y_train], axis = 1))
m1_fit = m1.fit()
m1_fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             net_rating   R-squared:                       0.013
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     2.415
Date:                Sun, 05 Mar 2023   Prob (F-statistic):             0.0185
Time:                        22:43:26   Log-Likelihood:                -6256.1
No. Observations:                1340   AIC:                         1.253e+04
Df Residuals:                    1332   BIC:                         1.257e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2426      3.929      0.062      0.951      -7.465       7.950
cluster_0      0.1669      0.971      0.172      0.864      -1.739       2.073
cluster_1      3.0955      1.179      2.625      0.009       0.782       5.409
cluster_2      0.1066      1.569      0.068      0.946      -2.972       3.185
cluster_3      0.0673      1.024      0.066      0.948      -1.941       2.076
cluster_4      0.4097     25.234      0.016      0.987     -49.094      49.913
cluster_5      0.4346      1.415      0.307      0.759      -2.342       3.211
cluster_6     -1.9764      1.436     -1.376      0.169      -4.794       0.842
cluster_7     -1.0912      1.627     -0.671      0.503      -4.283       2.101
==============================================================================
Omnibus:                       18.962   Durbin-Watson:                   2.041
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               25.127
Skew:                          -0.174   Prob(JB):                     3.50e-06
Kurtosis:                       3.574   Cond. No.                     2.32e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.47e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

Pretty poor, so not going to waste time doing testing or cross validation

## Try Random Forest

Always the best

In [17]:
from sklearn.ensemble import RandomForestRegressor

# Build basic model to see if it is worth doing grid search to find best params
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42, oob_score=True)
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1000, oob_score=True, random_state=42)

In [19]:
rf.score(X_train, y_train)

0.17328744441916955

In [23]:
rf.oob_score_

-0.12522552968671263

In [24]:
pred = rf.predict(X_test)
mae = np.mean(abs(pred - y_test))
mae

20.87627657692858

In [25]:
import statistics as stat

mse = np.mean((pred - y_test)**2)
r2 = 1 - mse / stat.variance(y_test)
r2

-0.1224324018698959